body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:72px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:231px;
  width:192px;
  height:62px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00CCFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:396px;
  width:145px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:452px;
  width:154px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:512px;
  width:124px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:337px;
  width:160px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:883px;
  width:31px;
  height:27px;
  color:#CCCCCC;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:31px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:889px;
  width:248px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:62px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:22px;
  width:330px;
  height:52px;
  font-family:'Segoe Print';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  white-space:nowrap;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:95px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:31px;
  width:67px;
  height:85px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:86px;
  width:64px;
  height:24px;
  font-size:16px;
  color:#00CCFF;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:86px;
  width:64px;
  height:24px;
  font-size:16px;
  color:#00CC66;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:86px;
  width:64px;
  height:24px;
  font-size:16px;
  color:#FF9900;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:150px;
  width:588px;
  height:31px;
}
#u24_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:594px;
  height:37px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:36px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:31px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:31px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:290px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:31px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:294px;
  height:31px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:290px;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:633px;
  width:140px;
  height:25px;
}
#submit {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:336px;
  width:300px;
  height:25px;
}
#pid {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:449px;
  width:300px;
  height:25px;
}
#clientname {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:395px;
  width:300px;
  height:25px;
}
#pname {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:572px;
  width:124px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:511px;
  width:300px;
  height:25px;
}
#description {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:569px;
  width:300px;
  height:25px;
}
#duration {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:231px;
  width:50px;
  height:42px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
